Repository davidwobido/Weather-App: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

:tada: Initialize project
  index.html
Due: none

:sparkles: Add basic frame with HTML
  .eslintcache
  index.html
  main.js
Due: eslint --cache --fix, prettier --write

:sparkles: Add location API + weather API
  index.html
  main.js
Due: eslint --cache --fix, prettier --write

:sparkles: You can see all important information on the page
  .eslintcache
  index.html
  main.js
Due: eslint --cache --fix, prettier --write

:sparkles: Add suggestion what to wear depending on temp
  .eslintcache
  index.html
  main.js
Due: eslint --cache --fix, prettier --write

:sparkles: Add forecasting days
  index.html
Due: none

:lipstick: Change order of content
  index.html
  lib/WEARTHER_Logo.svg
Due: none

:lipstick: Add colors and fonts
  globals.css
Due: stylelint --fix, prettier --write

:lipstick: Add basic design to css
  globals.css
  index.html
  main.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

Add clothing icons + their functionality
  .eslintcache
  globals.css
  index.html
  lib/01_Shirt.svg
  lib/02_Sweater.svg
  lib/03_Jacket.svg
  lib/04_Scarf.svg
  main.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Text changes when temp changes
  main.js
Due: eslint --cache --fix, prettier --write

:sparkles: Add min and max temperature
  main.js
Due: eslint --cache --fix, prettier --write

:lipstick: Style extra information
  globals.css
  index.html
Due: stylelint --fix, prettier --write

:lipstick: Styling
  .eslintcache
  globals.css
  main.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

:recycle: Refactor, rename classes
  .eslintcache
  globals.css
  index.html
  main.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

Create README.md
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

:sparkles: Make some elements responsive
  globals.css
Due: stylelint --fix, prettier --write

:sparkles: Make Icon responsive
  globals.css
Due: stylelint --fix, prettier --write

:lipstick: Add more responsiveness
  .eslintcache
  globals.css
Due: stylelint --fix, prettier --write

:sparkles: Add SearchBar
  index.html
Due: none

:sparkles: Change search bar to form and add function
  index.html
  main.js
Due: eslint --cache --fix, prettier --write

:sparkles: Search functions works fine
  main.js
Due: eslint --cache --fix, prettier --write

:lipstick: Styled searchbar
  .eslintcache
  globals.css
  index.html
Due: stylelint --fix, prettier --write

:bug: Run prettier on README
  .eslintcache
  README.md
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,css,md,json}
